{% extends "users/base.html" %}
{% block content %}
	<legend class="border-bottom mb-4">{{ profile }}</legend>
	<h4>
	Files {{ profile.user.username }} has shared with you:
	</h4>
		{% for p in profile.docs.all %}
			{% if p.user == profile.user %}
				<span class="user">
					{{p.user}}: 
				</span>
				<div class="file-link">
					<a href="{{media}}{{ p.file }}">
						{{ p.name }}
					</a>
				</div>
			{% endif %}
		{% endfor %}	

	<h4>Files you have shared with {{ profile.user.username }}:</h4>
		{% for p in profile.docs.all %}
			{% if p.user == user %}
				<span class="user">
					{{p.user}}: 
				</span>
				<div class="file-link">
					<a href="{{media}}{{ p.file }}">
						{{ p.name }}
					</a>
				</div>
			{% endif %}
		{% endfor %}	

{% endblock content %}